.screen1 .banner {
    background-image: url("../../assets/banner.png");
    height: 70vh;
    background-repeat: no-repeat;
    background-position: 10% 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .screen1 .banner h1 {
    font-size: 50px;
    font-weight: 600;
  }
  
  .screen1 .banner h6 {
    font-size: 20px;
    font-weight: 400;
  }
  
  @media screen and (max-width: 600px) {
    .screen1 .banner {
      background-position: center;
      height: 50vh;
    }
  
    .screen1 .banner h1 {
      font-size: 25px;
      font-weight: 600;
    }
  
    .screen1 .banner h6 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  
  /* Section 2 start */
  .screen1 .section2 {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    justify-items: center;
    padding: 50px;
  }
  
  .screen1 .section2 .info {
    padding: 10%;
  }
  
  .screen1 .section2 .info h2 {
    font-size: 32px;
  }
  
  .screen1 .section2 .info p {
    margin-top: 15px;
    color: #585858;
  }
  
  .screen1 .section2 .image {
    position: relative;
  }
  
  .screen1 .section2 .image img {
    width: 100%;
  }
  
  .screen1 .section2 .image .dot-image {
    position: absolute;
    width: 100px;
    left: 0px;
    bottom: -30px;
    left: -30px;
  }
  
  @media screen and (max-width: 1000px) {
    .screen1 .section2 {
      grid-template-columns: 1fr;
    }
  
    .screen1 .section2 .info {
      padding: 0px;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen1 .section2 {
      padding: 30px;
    }
  
    .screen1 .section2 .info h2 {
      font-size: 24px;
    }
  
    .screen1 .section2 .info p {
      font-size: 14px;
      margin-top: 10px;
    }
  
    .screen1 .section2 .image .dot-image {
      position: absolute;
      width: 60px;
      left: 0px;
      bottom: -15px;
      left: -15px;
    }
  }
  
  /* Section3 started */
  .screen1 .section3 {
    background-color: #fbfbfb;
    padding: 50px;
    position: relative;
  }
  
  .screen1 .section3 .dot-image {
    position: absolute;
    width: 100px;
    top: -35px;
  }
  
  .screen1 .section3 h2 {
    font-size: 32px;
    text-align: center;
  }
  
  .screen1 .section3 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  
  .screen1 .section3 .grid .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 24px;
  }
  
  .screen1 .section3 .grid .card h6 {
    margin-top: 10px;
  }
  
  @media screen and (max-width: 1000px) {
    .screen1 .section3 .hide {
      display: none;
    }
  }
  
  @media screen and (max-width: 750px) {
    .screen1 .section3 .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen1 .section3 h2 {
      font-size: 24px;
    }
  
    .screen1 .section3 {
      padding: 50px 10px;
    }
  
    .screen1 .section3 .grid .card {
      font-size: 18px;
      text-align: center;
    }
  
    .screen1 .section3 .grid .card img {
      width: 50px;
    }
  }
  
  /* Section 4 start */
  .screen1 .section4 {
    padding: 50px;
    position: relative;
  }
  
  .screen1 .section4 h2 {
    font-size: 32px;
  }
  
  .screen1 .section4 .underline {
    height: 5px;
    width: 120px;
    background-color: #2fc4a9;
    margin-top: 10px;
  }
  
  .screen1 .section4 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .screen1 .section4 .grid .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 13px #00000029;
    background-color: #ffffff;
    width: 100%;
  }
  
  .screen1 .section4 .grid .card > img {
    width: 100%;
  }
  
  .screen1 .section4 .grid .card h4 {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .screen1 .section4 .grid .card button {
    background-color: #229480;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .screen1 .section4 .grid .card button img {
    height: 15px;
    margin-left: 10px;
  }
  
  .screen1 .section4 .grid .card .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .screen1 .section4 .svg {
    position: absolute;
    width: 100vw;
    left: 0px;
    bottom: -25%;
    z-index: -1;
  }
  
  @media screen and (max-width: 900px) {
    .screen1 .section4 .grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  
    .screen1 .section4 .svg {
      width: 100vw;
      bottom: -10%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen1 .section4 {
      padding: 50px 20px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .screen1 .section4 .svg {
      display: none;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .screen1 .section4 {
      padding: 50px 20px;
    }
  
    .screen1 .section4 h2 {
      font-size: 24px;
    }
  
    .screen1 .section4 .svg {
      width: 100vw;
      bottom: -10%;
    }
  
    .screen1 .section4 .grid .card h4 {
      font-size: 14px;
      font-weight: 500;
    }
  }